* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #2b2d42;
    padding: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo h1 {
    color: #fff;
    font-size: 24px;
}

.navbar .nav-links {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.navbar .nav-links li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

.navbar .nav-links li a:hover {
    color: #e63946;
}

#intro {
    background-color: #1d3557;
    color: #fff;
    text-align: center;
    padding: 100px 20px;
}

#intro h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

#intro p {
    font-size: 18px;
    margin-bottom: 20px;
}

.cta-button {
    background-color: #e63946;
    color: #fff;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #f1faee;
    color: #1d3557;
}

.section {
    padding: 60px 20px;
    text-align: center;
}

#about p {
    font-size: 18px;
    line-height: 1.6;
}

#academy{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 43px;
    padding: 40px;
    margin: 40px;
}

.skills-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.skill-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    border: solid;
    border-color: aquamarine;
    cursor: pointer;
}

.skill-card:hover {
    background-color: #f1faee;
    color: #1d3557;
    transition: border-color 0.3s;
    border-color: #2811d4;
}

.skill-bar {
    height: 5px;
    background-color: #4b87c4;
    opacity: 0.7;
    border-radius: 5px;
    margin-bottom: 7px;
}

.skill-bar.progress {
    height: 100%;
    background-color: #e63946;
    border-radius: 5px;
}

.project-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.project-card h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #2b2d42;
    color: #fff;
}

.redesSociales {
    padding: 23px;
    gap: 23px;
    display: flex;
    align-items: center;
    color: #fff;
}

@media (max-width: 768px) {
    #intro h2 {
        font-size: 28px;
    }

    .navbar .nav-links {
        flex-direction: column;
        align-items: center;
    }

    .skills-list {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 480px) {
    #intro h2 {
        font-size: 24px;
    }

    .skills-list {
        grid-template-columns: 1fr;
    }
}
